div{
    width: 250px;
    height: 150px;
    margin: 40px;
    background-image: url(/HW_3/task_19/img.jpg);
    box-shadow: -19px -17px 5px red, 20px 18px 5px blue, inset 20px -19px 4px green, inset -20px 20px 4px black;
}