body {
  margin: 0;
  background-color: #020230;
  color: #fff;
  font-size: 24px;
}

.main-container {
  margin-top: 40px;
  margin-bottom: 40px;
}

.container {
  margin: 0 auto;
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.money-rate {
  margin-left: 400px;
}
.money-rate__list {
  list-style: none;
}
.money-rate__item:not(:last-child) {
  margin-bottom: 10px;
}

.quiz {
  margin-top: 50px;
}

.button {
  background-color: #020230;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 25px;
  border-radius: 4px;
  font-size: 20px;
  margin-bottom: 10px;
}

.quiz-questions,
.quiz-results,
.quiz-indicator {
  margin-bottom: 20px;
}

.quiz-questions-item,
.quiz-results-item {
  margin-bottom: 20px;
}
.quiz-questions-item__question,
.quiz-results-item__question {
  font-size: 20px;
  margin-bottom: 20px;
}
.quiz-questions-item__answers,
.quiz-results-item__answers {
  margin: 0;
  padding: 0;
  list-style: none;
}

.quiz-results {
  display: none;
}

.btn-restart {
  display: none;
}

.questions--hidden,
.indicator--hidden,
.bet-next--hidden {
  display: none;
}

.indicator--visible,
.btn-finish--visible,
.btn-restart--visible {
  display: block;
}

.answer--invalid {
  color: rgb(179, 3, 3);
}

.answer--valid {
  color: rgb(6, 135, 6);
}

.footer-link {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}