body {
    margin: 0;
    background-color: #020230;
    color: #fff;
    font-size: 24px;
}
.main-container {
}
.container {
    
    display: flex;
}
.game-content {
    width: 75%;
    padding: 40px 100px;
    background: linear-gradient(to bottom , rgba(0,0,0,0), #020230), url('./img/bg.jpg');
}
.pyramid {
    width: 25%;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.money-list {
    list-style: none;
}
.money-list-item:not(:last-child) {
    margin-bottom: 10px;
}

.quiz {
    margin-top: 50px;
}
.button {
    background-color: #020230;
    color: #fff;
    border: 2px solid #fff;


    padding: 10px 25px;
    border-radius: 4px;
    font-size: 20px;
    margin-bottom: 10px;
}
.quiz-questions,
.quiz-results,
.quiz-indicator {
    margin-bottom: 20px;
}
.quiz-questions-item,
.quiz-results-item {
    margin-bottom: 20px;
    &__question{
        font-size: 20px;
        margin-bottom: 20px;
    }

    &__answers{
        margin: 0;
        padding: 0;
        list-style: none;
    }
}
.quiz-indicator {}
.quiz-results {
    display: none;
}
.btn-next {}

.btn-finish {}

.btn-restart {
    display: none;
}
.questions--hidden,
.indicator--hidden,
.bet-next--hidden {
    display: none;
}
.indicator--visible,
.btn-finish--visible,
.btn-restart--visible {
    display: block;
}

.answer--invalid {
    color: rgb(179, 3, 3);
}
.answer--valid {
    color: rgb(6, 135, 6);
}
.footer-link {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}
