body {
  margin: 0;
  background-color: #020230;
  color: #fff;
  font-size: 24px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.game-content {
  width: 75%;
  padding: 40px 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#020230)), url("./img/bg.jpg");
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #020230), url("./img/bg.jpg");
}

.pyramid {
  width: 25%;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.money-list {
  list-style: none;
  width: 100%;
}

.money-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  border-radius: 5px;
}

.money-list-item.active {
  background-color: teal;
}

.money-list-item-number {
  font-size: 22px;
  font-weight: 100;
  width: 30%;
}

/*
.money-list-item:not(:last-child) {
    margin-bottom: 10px;
}
*/
.quiz {
  margin-top: 50px;
}

.button {
  background-color: #020230;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 25px;
  border-radius: 4px;
  font-size: 20px;
  margin-bottom: 10px;
}

.quiz-questions,
.quiz-results,
.quiz-indicator {
  margin-bottom: 20px;
}

.quiz-questions-item__question,
.quiz-results-item__question {
  font-size: 20px;
  margin-bottom: 20px;
}
.quiz-questions-item__answers,
.quiz-results-item__answers {
  margin: 0;
  padding: 0;
  list-style: none;
}

.quiz-results {
  display: none;
}

.btn-restart {
  display: none;
}

.questions--hidden,
.indicator--hidden,
.bet-next--hidden {
  display: none;
}

.indicator--visible,
.btn-finish--visible,
.btn-restart--visible {
  display: block;
}

.answer--invalid {
  color: rgb(179, 3, 3);
}

.answer--valid {
  color: rgb(6, 135, 6);
}

.footer-link {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}